.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.content h1 {
  z-index: 1000;
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 60px;
  letter-spacing: 1.4px;
  margin-bottom: 0;
}

@media only screen and (max-width: 550px) {
  .content h1 {
    font-size: 40px;
  }
}

.content p {
  margin: 10px 0;
}

@media only screen and (max-width: 550px) {
  .content p {
    font-size: 12px;
  }
}

.content .download {
  padding: 0.5rem 2.5rem;
  background-color: rgba(172, 141, 225, 0.9);
  color: black;
  font-weight: 700;
  border-radius: 50px;
  margin-top: 15px;
  cursor: pointer;
}

.cta-arrow {
  height: 60px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 5px solid #f0f0f0;
  border-bottom: 5px solid #f0f0f0;
  width: 60px;
  border-radius: 0 0 5px 0;
  margin-bottom: 2rem;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  cursor: pointer;
}

@-webkit-keyframes shake {
  50% {
    -webkit-transform: rotate(45deg) translate3d(10px, 10px, 0);
            transform: rotate(45deg) translate3d(10px, 10px, 0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
  }
}

@keyframes shake {
  50% {
    -webkit-transform: rotate(45deg) translate3d(10px, 10px, 0);
            transform: rotate(45deg) translate3d(10px, 10px, 0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
  }
}

h1 {
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 1.4px;
  color: #f2f2f2;
  margin-bottom: 15px;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
}

p {
  line-height: 1.5rem;
  color: #e6e6e6;
  font-size: 14px;
}

@media only screen and (max-width: 550px) {
  p {
    font-size: 12px;
  }
}

.about {
  padding: 2rem;
  padding-top: 0;
  max-width: 1000px;
  margin: auto;
}

.about .download {
  padding: 0.3rem 3rem;
  background-color: rgba(132, 156, 224, 0.9);
  color: black;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
}

.vis-container {
  padding: 2rem;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#120350));
  background: linear-gradient(180deg, black 0%, #120350 100%);
}

.vis-container .image-list1 {
  max-width: 850px;
  margin: auto;
}

.vis-container .image-list2 {
  max-width: 850px;
  margin: auto;
  margin-top: 20px;
}
/*# sourceMappingURL=index.css.map */