.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: calc(100vh - 6rem);
  padding: 2rem;
  text-align: center;
}

.content h1 {
  z-index: 1000;
  position: relative;
  font-family: 'Bitter', serif;
  font-weight: lighter;
  font-size: 60px;
  letter-spacing: 1.4px;
  margin-bottom: 0;
}

@media only screen and (max-width: 550px) {
  .content h1 {
    font-size: 40px;
  }
}

.content p {
  margin: 10px 0;
  max-width: 800px;
}

@media only screen and (max-width: 550px) {
  .content p {
    font-size: 12px;
  }
}

.cta-arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 550px) {
  .cta-arrow-wrapper {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.cta-arrow {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 3px solid #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
  width: 60px;
  height: 60px;
  border-radius: 0 0 3px 0;
  margin-bottom: 2rem;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .cta-arrow {
    height: 30px;
    width: 30px;
    border-radius: 0 0 2px 0;
    border-right: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }
}

@-webkit-keyframes shake {
  50% {
    -webkit-transform: rotate(45deg) translate3d(10px, 10px, 0);
            transform: rotate(45deg) translate3d(10px, 10px, 0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
  }
}

@keyframes shake {
  50% {
    -webkit-transform: rotate(45deg) translate3d(10px, 10px, 0);
            transform: rotate(45deg) translate3d(10px, 10px, 0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
  }
}

.about {
  padding: 2rem;
  padding-top: 0;
  max-width: 1000px;
  margin: auto;
}

.navbar {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1rem;
  }
}

.navbar li {
  list-style: none;
  display: table-cell;
  position: relative;
}

.navbar a {
  color: #e6e6e6;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  font-size: 14px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media only screen and (max-width: 550px) {
  .navbar a {
    font-size: 12px;
  }
}

.navbar a:hover {
  color: #ffa600;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #e6e6e6;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after {
  width: 120%;
  left: -10%;
  background: #ff8000;
}

.footer-wrapper {
  background-color: #2c2c2c;
  padding: 4rem 2rem;
}

.footer-wrapper h1 {
  text-align: center;
}

.footer-wrapper .footer-column {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.footer-wrapper .footer-column h2 {
  font-family: "Bitter", serif;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-wrapper .footer-column p {
  margin-left: 10px;
  line-height: 2rem;
}

.footer-wrapper .footer-column P:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .footer-wrapper h1 {
    text-align: left;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  .footer-wrapper .footer-column {
    width: 100%;
    margin-bottom: 15px;
  }
}

.button-swipe-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  margin-top: 2rem;
}

.button-swipe-wrapper :active,
.button-swipe-wrapper :hover,
.button-swipe-wrapper :focus {
  outline: 0 !important;
  outline-offset: 0;
}

.button-swipe-wrapper ::before,
.button-swipe-wrapper ::after {
  position: absolute;
  content: "";
}

.btn {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  min-width: 150px;
  background-color: #ff8400;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*--- btn-1 ---*/
.btn-1::before {
  background-color: black;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn-1 span {
  color: #ff8400;
  border: 1.5px solid #ff8400;
  border-radius: 10px;
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

.btn-1 span:hover {
  color: black;
  font-weight: bold;
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

/* 1.hover-filled-slide-down */
.btn.hover-filled-slide-down::before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.btn.hover-filled-slide-down:hover::before {
  height: 0%;
}

h1 {
  position: relative;
  font-family: "Bitter", serif;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 1.4px;
  color: #f2f2f2;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
}

p {
  line-height: 1.5rem;
  color: #e6e6e6;
  font-size: 14px;
}

@media only screen and (max-width: 550px) {
  p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=index.css.map */