@import "./hero.scss";
@import "./about.scss";
@import "./navbar_footer.scss";
@import "./button.scss";

h1 {
  position: relative;
  font-family: "Bitter", serif;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 1.4px;
  color: $heading-color;
  @media #{$media-mobile} {
    font-size: 30px;
    text-align: center;
  }
}

p {
  line-height: 1.5rem;
  color: $text-color;
  font-size: 14px;
  @media #{$media-mobile} {
    font-size: 12px;
  }
}
