@import "./variables.scss";

.vis-container {
  padding: 2rem;
  margin: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(18, 3, 80) 100%);
  .image-list1 {
    max-width: 850px;
    margin: auto;
  }

  .image-list2 {
    max-width: 850px;
    margin: auto;
    margin-top: 20px;
  }

  .download {
    padding: 0.3rem 3rem;
    background-color: rgba(226, 150, 233, 0.9);
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    width: fit-content;
    margin: 20px auto;
    p {
      color: black;
    }
  }
}
